<!-- app/auth/templates/login.html -->
{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.rol == 'admin' %}
            <h2>Panel de control</h2>
            <section class="dashboard">

            </section>
            <div class="grid-events">
                <div class="grid-item">
                    <a href="{{ url_for('event.new_event') }}">Agregar evento</a>
                </div>
                <div class="grid-item">
                    <a href="{{ url_for('event.user_events') }}">Mis eventos</a>
                </div>
            </div>

        {% else %}
            <div class="event-list">
                <h2>Próximos eventos</h2>
                <form method="get">
                    <label for="category">Filtrar por categoría:</label>
                        <select name="category" id="category">
                            <option value="">Todas las categorías</option>
                            {% for cat in categories %}
                                <option value="{{ cat[0] }}" {% if selected_category == cat[0] %}selected{% endif %}>{{ cat[0] }}</option>
                            {% endfor %}
                        </select>
                    <button type="submit">Filtrar</button>
                </form>

                <!-- Renderizar la lista de eventos -->
                <ul>
                    {% for event in events %}
                        <li>
                            <h3>{{ event.title }}</h3>
                            <p>{{ event.description }}</p>
                            <p>Fecha de inicio: {{ event.start_time.strftime('%Y-%m-%d %H:%M') }}</p>
                            <p>Fecha de finalización: {{ event.end_time.strftime('%Y-%m-%d %H:%M') }}</p>
                            <p>Ubicación: {{ event.location }}</p>
                            <p>Categoría: {{ event.category }}</p>
                        </li>
                        <a href="{{ url_for('event.show_detail', event_id=event.id)}}">Ver detalle</a>
                    {% endfor %}
                </ul>


            </div>


        {% endif %}
    {% else %}
        <p>Inicia sesión ingresando <a href="{{ url_for('auth.login') }}">aquí</a></p>
        <p>¿Aún no tienes cuenta? <a href="{{ url_for('auth.register') }}">¡Regístrate!</a></p>
    {% endif %}
{% endblock %}
